### JetBrains ###
.idea

# File-based project format
*.iws

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.DS_Store

# Test binary, build with `go test -c`
*.test
coverage.txt
.env

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
output

# REST API client files
*.http
*.rest